main{
	background-color: aliceblue;
	min-height: 100vh;
}

.flex-navbar{
	display: inline-flex;
	width: 90%;
	justify-content: space-between;
}

.flex-form{
	display: flex;
	justify-content: center;
}

.notif-articles-flex{
	display: inline-flex;
	align-items: center;

}

h1{
	text-align: center;
	padding-top: 3% ;
	padding-bottom: 3% ;
}

.btn-form{
	width: 100%;
	padding: 5%;
}

.center-content-array{
	text-align: center;
}